*.suo
#ignore build files
bin
obj
bld
*.jsproj.user
test/*/js/MobileServices.*
packages/*
#just in case ignore the folders we pull from git (if a delete fails in the build process)
tools/JSBuild/queryjs/*
tools/JSBuild/esprima/*
node_modules
.vs/
