*.suo
*.csproj.user
*.vbproj.user
#ignore build files
bin
obj
packages/*
!packages/Microsoft.Bcl.Build.1.0.8/tools/Microsoft.Bcl.Build.targets
!packages/Microsoft.Bcl.Build.1.0.8/tools/Microsoft.Bcl.Build.Tasks.dll
.nuget/nuget.exe