<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="xamarinios10" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="xamarinios10" />
  <package id="WindowsAzure.MobileServices" version="2.0.0-beta" targetFramework="xamarinios10" />
  <package id="WindowsAzure.MobileServices.SQLiteStore" version="1.0.2" targetFramework="xamarinios10" />
</packages>