.DS_Store
bin
gen
target
*.keystore
*.swp
*.orig
*.log
seed.txt
map.txt
.metadata
sdk/android/src/notifications-handler/libs/google-play-services.jar
sdk/android/src/sdk/libs/gson-2.2.2.jar
sdk/android/test/sdk.testapp.tests/libs/gson-2.2.2.jar
