<#@template language="c#" hostspecific="true"#>
<#@parameter type="System.String" name="Runtime"#>
<#@output extension=".sln"#>

Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 2013
VisualStudioVersion = 12.0.30501.0
MinimumVisualStudioVersion = 10.0.40219.1
Project("{2150E333-8FDC-42A3-9474-1A3956D46DE8}") = "ZUMOAPPNAME", "ZUMOAPPNAME", "{F6C0526E-9FE6-4B07-B340-243315E431F1}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "ZUMOAPPNAME.Windows", "ZUMOAPPNAME\ZUMOAPPNAME.Windows\ZUMOAPPNAME.Windows.csproj", "{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}"
<# if (Runtime == "DOTNET") {#>
	ProjectSection(ProjectDependencies) = postProject
		{209FA716-A7AD-4095-BD70-C8710FC66FA7} = {209FA716-A7AD-4095-BD70-C8710FC66FA7}
	EndProjectSection
<# } #>
EndProject
Project("{D954291E-2A0B-460D-934E-DC6B0785DB48}") = "ZUMOAPPNAME.Shared", "ZUMOAPPNAME\ZUMOAPPNAME.Shared\ZUMOAPPNAME.Shared.shproj", "{1BBA7382-395F-44D1-9431-813384EAB491}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "ZUMOAPPNAME.WindowsPhone", "ZUMOAPPNAME\ZUMOAPPNAME.WindowsPhone\ZUMOAPPNAME.WindowsPhone.csproj", "{BD50ECA0-7F46-41E1-A407-56821F327B5B}"
<# if (Runtime == "DOTNET") {#>
	ProjectSection(ProjectDependencies) = postProject
		{209FA716-A7AD-4095-BD70-C8710FC66FA7} = {209FA716-A7AD-4095-BD70-C8710FC66FA7}
	EndProjectSection
<# } #>
EndProject
<# if (Runtime == "DOTNET") {#>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "ZUMOAPPNAMEService", "ZUMOAPPNAMEService\ZUMOAPPNAMEService.csproj", "{209FA716-A7AD-4095-BD70-C8710FC66FA7}"
EndProject
<# } #>
Global
	GlobalSection(SharedMSBuildProjectFiles) = preSolution
		ZUMOAPPNAME\ZUMOAPPNAME.Shared\ZUMOAPPNAME.Shared.projitems*{bd50eca0-7f46-41e1-a407-56821f327b5b}*SharedItemsImports = 4
		ZUMOAPPNAME\ZUMOAPPNAME.Shared\ZUMOAPPNAME.Shared.projitems*{1bba7382-395f-44d1-9431-813384eab491}*SharedItemsImports = 13
		ZUMOAPPNAME\ZUMOAPPNAME.Shared\ZUMOAPPNAME.Shared.projitems*{c8fca4e8-5e5b-4b79-95a9-a74383823fec}*SharedItemsImports = 4
	EndGlobalSection
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Debug|ARM = Debug|ARM
		Debug|x64 = Debug|x64
		Debug|x86 = Debug|x86
		Release|Any CPU = Release|Any CPU
		Release|ARM = Release|ARM
		Release|x64 = Release|x64
		Release|x86 = Release|x86
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|Any CPU.Deploy.0 = Debug|Any CPU
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|ARM.ActiveCfg = Debug|ARM
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|ARM.Build.0 = Debug|ARM
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|ARM.Deploy.0 = Debug|ARM
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|x64.ActiveCfg = Debug|x64
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|x64.Build.0 = Debug|x64
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|x64.Deploy.0 = Debug|x64
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|x86.ActiveCfg = Debug|x86
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|x86.Build.0 = Debug|x86
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Debug|x86.Deploy.0 = Debug|x86
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|Any CPU.Build.0 = Release|Any CPU
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|Any CPU.Deploy.0 = Release|Any CPU
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|ARM.ActiveCfg = Release|ARM
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|ARM.Build.0 = Release|ARM
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|ARM.Deploy.0 = Release|ARM
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|x64.ActiveCfg = Release|x64
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|x64.Build.0 = Release|x64
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|x64.Deploy.0 = Release|x64
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|x86.ActiveCfg = Release|x86
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|x86.Build.0 = Release|x86
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC}.Release|x86.Deploy.0 = Release|x86
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|Any CPU.Deploy.0 = Debug|Any CPU
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|ARM.ActiveCfg = Debug|ARM
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|ARM.Build.0 = Debug|ARM
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|ARM.Deploy.0 = Debug|ARM
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|x64.ActiveCfg = Debug|Any CPU
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|x86.ActiveCfg = Debug|x86
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|x86.Build.0 = Debug|x86
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Debug|x86.Deploy.0 = Debug|x86
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|Any CPU.Build.0 = Release|Any CPU
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|Any CPU.Deploy.0 = Release|Any CPU
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|ARM.ActiveCfg = Release|ARM
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|ARM.Build.0 = Release|ARM
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|ARM.Deploy.0 = Release|ARM
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|x64.ActiveCfg = Release|Any CPU
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|x86.ActiveCfg = Release|x86
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|x86.Build.0 = Release|x86
		{BD50ECA0-7F46-41E1-A407-56821F327B5B}.Release|x86.Deploy.0 = Release|x86
<# if (Runtime == "DOTNET") {#>
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|Any CPU.Deploy.0 = Debug|Any CPU
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|ARM.ActiveCfg = Debug|ARM
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|ARM.Build.0 = Debug|ARM
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|ARM.Deploy.0 = Debug|ARM
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|x64.ActiveCfg = Debug|Any CPU
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|x86.ActiveCfg = Debug|x86
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|x86.Build.0 = Debug|x86
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Debug|x86.Deploy.0 = Debug|x86
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|Any CPU.Build.0 = Release|Any CPU
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|Any CPU.Deploy.0 = Release|Any CPU
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|ARM.ActiveCfg = Release|ARM
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|ARM.Build.0 = Release|ARM
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|ARM.Deploy.0 = Release|ARM
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|x64.ActiveCfg = Release|Any CPU
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|x86.ActiveCfg = Release|x86
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|x86.Build.0 = Release|x86
		{209FA716-A7AD-4095-BD70-C8710FC66FA7}.Release|x86.Deploy.0 = Release|x86
<# } #>
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
	GlobalSection(NestedProjects) = preSolution
		{C8FCA4E8-5E5B-4B79-95A9-A74383823FEC} = {F6C0526E-9FE6-4B07-B340-243315E431F1}
		{1BBA7382-395F-44D1-9431-813384EAB491} = {F6C0526E-9FE6-4B07-B340-243315E431F1}
		{BD50ECA0-7F46-41E1-A407-56821F327B5B} = {F6C0526E-9FE6-4B07-B340-243315E431F1}
	EndGlobalSection
EndGlobal
