<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="15bdd550-f2af-488a-bb64-00d72a983cdd"
            Publisher="CN=carlosff"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>ZumoE2ETestApp</DisplayName>
    <PublisherDisplayName>carlosff</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="ZumoE2ETestApp.App">
        <VisualElements
            DisplayName="ZumoE2ETestApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="ZumoE2ETestApp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>