quickstart/iOS/WindowsAzureMobileServices.framework.zip
quickstart/iOS/WindowsAzureMobileServices.framework/
quickstart/iOS/ZUMOAPPNAME/WindowsAzureMobileServices.framework/
quickstart/iOS/iOS_ObjC.zip
