WindowsAzureMobileServices.framework.zip
WindowsAzureMobileServices.framework/
iOS_Swift.zip
DerivedData
ZUMOAPPNAME/ZUMOAPPNAME.xcodeproj/project.xcworkspace/xcuserdata
ZUMOAPPNAME/ZUMOAPPNAME.xcodeproj/xcuserdata
