body {
}

    .tasknumber {
        color: #b9b9b9; 
        font-size: 45pt; 
        border-right: 1px solid #b9b9b9; 
        min-width: 65px; 
        text-align: center; 
        margin-right: 10px
    }