<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.19" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="wpa81" />
  <package id="WindowsAzure.MobileServices" version="1.2.3" targetFramework="wpa81" />
</packages>