<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.WindowsAzure.MobileServices.Net45.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.WindowsAzure.MobileServices.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.WindowsAzure.MobileServices.Net45.Settings>
            <setting name="ApplicationInstallationId" serializeAs="String">
                <value />
            </setting>
        </Microsoft.WindowsAzure.MobileServices.Net45.Settings>
    </applicationSettings>
    <userSettings>
        <Microsoft.WindowsAzure.MobileServices.Settings>
            <setting name="MobileServiceApplicationInstallationId" serializeAs="String">
                <value />
            </setting>
        </Microsoft.WindowsAzure.MobileServices.Settings>
    </userSettings>
</configuration>
