<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="win" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="win" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="win" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="win" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="win" />
</packages>