<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="WinJSTest" Version="1.0.0.0" Publisher="CN=MobileServices" />
  <Properties>
    <DisplayName>Microsoft.Azure.Zumo.Windows.WinJS.Test</DisplayName>
    <PublisherDisplayName>Mobile Services</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Microsoft.Azure.Zumo.Windows.WinJS.Test" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Microsoft.Azure.Zumo.Windows.WinJS.Test" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>