<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="2fd6dff0-b58e-48fb-a8a2-5b6b2eb3973e" Publisher="CN=test" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ZUMOAPPNAME</DisplayName>
    <PublisherDisplayName>Mobile Services</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ZUMOAPPNAME.App">
      <VisualElements DisplayName="ZUMOAPPNAME" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="ZUMOAPPNAME" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>