WindowsAzureMobileServices.xcodeproj/project.xcworkspace/xcuserdata/
WindowsAzureMobileServices.xcodeproj/xcuserdata/
DerivedData/
build/
*.xccheckout
WindowsAzureMobileServices.framework.zip
WindowsAzureMobileServices.framework
